/* Write your CSS code in this file */

.main {
    color: rgb(255, 110, 110);
    
    text-align: center;
    letter-spacing: 1px;
    padding: 30px;
   
}

.center{
    text-align: center;
}

.overlay {
    border: 5px solid;
    background-color: rgb(201, 228, 236);
    border-radius: 20px;
    padding: 20px;
}

h1, h3, h6 {
    padding: 0px;
    margin: 0px;
}

h1 {
    color: rgb(105, 105, 105);
    text-transform: uppercase;
    font-family: 'Gill Sans', sans-serif;    
    font-size: 55px;
}
#subtitle {
    color: rgb(97, 146, 253);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 20px;
}

#input-parent {
    padding: 0px;
    margin: 0px;
}

.guess {
    display: inline;
    font-size: 32px;
    font-family: sans-serif;
    border: 2px solid grey;
    border-radius: 20%;
    padding: 5px 15px;
    margin: 10px;
}

#guess-feedback {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: lighter;
    text-transform: lowercase;
    padding: 30px, 0px;

}

#hint-feedback {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: lighter;
    /* font-family: "Source Sans Pro", "Arial", sans-serif; */
    text-transform: lowercase;
    padding: 30px, 0px, 0px, 0px;

}

#player-input {
    font-size: 14px;
    border-radius: 2px;
    padding: 10px;
    margin: 20px;
}

#submit-text-btn {
    color: rgb(62, 90, 126);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
    box-shadow: 3px 3px rgb(152, 187, 207);
    padding: 10px;
    margin: 10px;
}

#get-hint {
    color: rgb(62, 90, 126);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
    box-shadow: 3px 3px rgb(152, 187, 207);
    padding: 10px;
    margin: 20px;
}

#new-game {
    color: rgb(62, 90, 126);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
    box-shadow: 3px 3px rgb(152, 187, 207);
    padding: 10px;
    margin: 20px;
}

#project-by {
    font-size: 14px;
    text-transform: lowercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}